In [1]:
print('hello world')

hello world

In [4]:
print('india','pakistan','bangladesh',sep='/')

india/pakistan/bangladesh

In [5]:
print('hello',end=' ')
print('world')

hellp world

In [ ]:
#data types int, float, str, bool,list,tuples,set,dictionary
#python is case sensitive
for i in range(1,11):
    print(i)

In [ ]:
#built in funcitions
# abs,pow,min,max,sum,len,id,type

In [4]:
s = 'Hello'
print(s.lower())

hello

In [7]:
L = [1,2,3,4,5]

L1 = [ i**2 for i in L if i%2 != 0]
print(L1)

[1, 9, 25]

In [11]:
L1 = [1,2,3]
L2 = [4,5,6,7,8,9]

L3 = zip(L1,L2)
print(list(L3))

[(1, 4), (2, 5), (3, 6)]

In [12]:
D = {'name':'Girish Mohite','age':'50','occupation':'IT'}

for k,v in D.items():
    print(k,v)

name Girish Mohite
age 50
occupation IT

In [14]:
D2 = {item:item**2 for item in range(1,11)}
D2

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
S1 = {1,2,3,4,5}
S2 = {4,5,6,7,8}

#union
print(S1|S2)